/* Loader container */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

/* Bounce loader */
.bounce-loader {
  display: flex;
  justify-content: space-between;
  width: 60px;
}

.bounce-loader div {
  width: 15px;
  height: 15px;
  background-color: #007bff;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.bounce-loader div:nth-child(2) {
  animation-delay: 0.2s;
}
.bounce-loader div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    transform: translateY(-15px);
  }
}

/* Scrollable table */
.table-scroll {
  max-height: 300px; /* adjust height as needed */
  overflow-y: auto;
  margin-bottom: 20px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

/* Sticky header for table */
.sticky-header th {
  position: sticky;
  top: 0;
  background-color: #9bda27;
  color: white;
  z-index: 10;
}

/* Table improvement */
.table-dark {
  background-color: #9ac91b;
  color: white;
}

p.text-muted {
  font-style: italic;
  font-size: 1rem;
}
