.result-container {
  padding: 2rem;
  background-color: #f0e10e;
  border-radius: 12px;
}

.result-container h2,
.result-container h3 {
  color: #ffd700;
}

.result-table th {
  background-color: #1515c7;
  color: #f3f3f3;
  text-align: center;
}

.result-table td {
  text-align: center;
  color: #36a0ef;
}

.accordion-button {
  background-color:#282557;
  color: #ffd700;
  font-weight: bold;
}

.accordion-button:not(.collapsed) {
  background-color: #3a3a55;
  color: #3ad825;
}

.accordion-body {
  background-color: #ccbd3b;
}
